<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite de Pruebas TP Integrador De Yamil Leotta" verbose="true">
    <test name="Tests Iniciales">
        <classes>
            <class name="TestIniciales"/>
        </classes>
    </test>
    <test name="Sitio Magento">
        <classes>
            <class name="EjercicioTP"/>
        </classes>
    </test>
</suite>